html, body, h1, h2, h3, h4, div, table,main,footer,aside,article,p,ul,li {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  max-width: 1200px;
}
ul {
  list-style: none;
}
header {
  nav {
    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}
